<ion-view view-title="Networks">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="netw in netws" type="item-text-wrap" href="#/tab/netws/{{netw.id}}">
        <img ng-src="{{netw.face}}">
        <h2>{{netw.name}}</h2>
        <p>{{netw.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(netw)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
