<ion-view view-title="Login">
    <ion-content>
        <ion-list>
            <ion-item>
                <button class="button button-block button-assertive" ng-click="ctrl.loginWith('google')">
                    Google
                </button>
            </ion-item>
            <ion-item>
                <button class="button button-block button-assertive" ng-click="ctrl.loginWith()">
                    Anonymous
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>